body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

div.welcome {
	height: 100%;
	text-align: center;
}

div.welcome img {
	position: relative;
  	top: 25%;
	width: 300px;
}

.no-bullet-point {
	list-style-type: none;
}

.fact-label {
	font-weight: bold; 
}

footer.myFooter{
    position:bottom;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:#000000;
}
